.main {
  position: absolute;
  left: 40%;
  display: flex;
  flex-direction: column;
}
.btn {
  padding-left: 55px;
}
.sum {
  padding-left: 25px;
  padding-bottom: 10px;
}
.products {
  padding-left: 25px;
}
.payBtn {
  padding-left: 30px;
}
